@font-face {
    font-family: 'static_bold';
    src: url('../fonts/static_bold-webfont.eot');
    src: url('../fonts/static_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/static_bold-webfont.woff') format('woff'),
         url('../fonts/static_bold-webfont.ttf') format('truetype'),
         url('../fonts/static_bold-webfont.svg#static_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MinionStdBlack';
    src: url('../fonts/minionstd-black.eot');
    src: url('../fonts/minionstd-black.eot') format('embedded-opentype'),
         url('../fonts/minionstd-black.woff') format('woff'),
         url('../fonts/minionstd-black.ttf') format('truetype'),
         url('../fonts/minionstd-black.svg#MinionStdBlack') format('svg');
}

@charset "UTF-8";

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?nwyfdi');
	src:url('../fonts/icomoon.eot?#iefixnwyfdi') format('embedded-opentype'),
		url('../fonts/icomoon.woff?nwyfdi') format('woff'),
		url('../fonts/icomoon.ttf?nwyfdi') format('truetype'),
		url('../fonts/icomoon.svg?nwyfdi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-smile:before {
	content: "\e600";
}
.icon-run-borderless:before {
	content: "\e601";
}
.icon-heart-borderless:before {
	content: "\e602";
}


/*
@font-face {
  font-family: "feicons";
  src:url("../fonts/feicons.eot");
  src:url("../fonts/feicons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/feicons.woff") format("woff"),
    url("../fonts/feicons.ttf") format("truetype"),
    url("../fonts/feicons.svg#feicons") format("svg");
  font-weight: normal;
  font-style: normal;
}



[data-icon]:before {
  font-family: "feicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "feicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inquiry:before {
  content: "a";
}
.icon-fitness:before {
  content: "b";
}
.icon-emotion:before {
  content: "c";
}
*/