* {
	padding:0;
	margin:0;
}

body {
	color:#fff;
	font-family:'ABeeZee',sans-serif;
	font-size:3em;
	height:100%;
	width:100%;
	overflow:hidden;
}

.wrapper {
	width:100%;
	height:100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}

.wrapper section.screen {
    width:100%;
	height:100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}
 
.option-hide {
    display: none;
}

.middle {
    background-color:#EC6052;
    -webkit-transition: background-color .7s;
}

.up {
    background-color:#F77D77;
    -webkit-transition: background-color .7s;
}

.down {
    background-color: #B54D3F;
    -webkit-transition: background-color .7s;
}

h1 {
	font-weight:400;
	font-family:'static_bold',sans-serif;
	font-size:3em;
	margin:.1em 0;
}

.logo {
	text-align:center!important;
}

.logo .icon {
	font-size:3em;
	line-height:0;
}

.show {
    -webkit-transition: opacity .7s;
    opacity: 1;
}

.hide {
    -webkit-transition: opacity .7s;
    opacity: 0;
}

.script {
    display: none;
}


.slide {
	-webkit-transition:all .7s;
}

.fade {
    opacity: 0;
    -webkit-transition:all .7s;
}


.block {
	text-align:center;
	position: absolute;
	width:100%;
	height:100%;
	top: 0;
	left: 0;
}

.block:before {
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle;
	text-align:left;
	margin-right:-.25em;
}

.centered {
	text-align:left;
	display:inline-block;
	vertical-align:middle;
	width:64%;
}



.promo .block:last-child .centered {
	width: 90%;
}


input {
    width: 23%;
    padding: 2%;
    border: 0;
    margin: 0.5%;
    font-size: 0.5em;
    color: #EC6052;
}

input[type="submit"] {
	background-color: #B54D3F;
	color: #fff;
}

.ambient_vis_container {   
}

.foo {
    background: #EC6052;
}

.ambient_vis {
    width: 960px;
    margin: 0 auto;
}
